Values
------

{{#each vars.values}}
+ [{{@key}}](#{{@key}})
{{/each}}


{{#each vars.values}}
<a name="{{@key}}" ></a>

### {{@key}}

| Key | Value |
| --- | ---- |
{{#each this}}
| {{@key}} | `{{this}}` |
{{/each}}


{{/each}}